    @font-face {
    font-family: 'Cera Round Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Cera Round Pro Regular'), url('../fonts/CeraRoundProRegular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Cera Round Pro Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Cera Round Pro Thin'), url('../fonts/TypeMates  CeraRoundProThin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Cera Round Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Cera Round Pro Light'), url('../fonts/TypeMates  CeraRoundProLight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Cera Round Pro Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Cera Round Pro Medium'), url('../fonts/TypeMates  CeraRoundProMedium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Cera Round Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Cera Round Pro Bold'), url('../fonts/TypeMates  Cera Round Pro Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Cera Round Pro Black';
    font-style: normal;
    font-weight: normal;
    src: local('Cera Round Pro Black'), url('../fonts/TypeMates  CeraRoundProBlack.woff') format('woff');
    }